playwright
groq
python-dotenv
huggingface_hub
google-generativeai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
sentence-transformers
gTTS
moviepy
Pillow
requests


Pillow>=10.0.0
moviepy
